Mission:

<style>
	div.sign{
    height: 50px;
    width: 200px;
    background: #010d13;
    box-shadow: 0px 0px 0px 4px #01080a;
    border: 4px solid #fff;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: -webkit-pictograph;
	}
</style>


<div class="sign">Elizabeth Warren<br>Attorney at Law</div> <br>

<article>
<p>
<h3>

	See:

</h3>




<a href="https://www.warren.senate.gov/"> senate.gov </a><br><br>
<a href="http://www.elizabethwarren.com/stop-trump"> elizabethwarren.com : political website</a><br><br>

<br><br>
	<a href="https://youtu.be/OX-ZFFhRaPY?t=18m35s" target="_blank">we are her fans!</a><br>


<br>
Harvard Law School Association Award (2013) <br>
Sacks-Freund Award for excellence in teaching (2013) <br>
Most Influential Lawyers of the Decade  (TIME MAGAZINE)

<br>
<br>
Historical Videos:<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/S1Uk-DwUvJw?rel=0" frameborder="0" title="Conversations with History: Elizabeth Warren" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/akVL7QY0S8A?rel=0" frameborder="0" title="The Coming Collapse of the Middle Class with Elizabeth Warren |2008" allowfullscreen></iframe>
</p>
</article>