	NEWS
	<style>
		p{
    text-indent: 1em;
    padding-bottom: 1em;
		}
	</style>
	<article>
<br>
<br>
<p style="text-indent:0">
<a href="https://www.warren.senate.gov/" title="US SENATE"><strong>senate.gov (official site)</strong></a><br><br>
<a href="https://www.youtube.com/user/senelizabethwarren" title="OFFICIAL CHANNEL"> Elizabeth Warren Channel: YouTube</a><br><br>
<a href="https://twitter.com/senwarren" title="SOCIAL MEDIA">@senwarren : twitter</a><br>



<br>
<a href="http://www.elizabethwarren.com/stop-trump" title="CAMPAIGN WEBSITE"> political website</a><br><br>
<a href="http://www.consumerfinance.gov/" title="Consumer Protection Credit Bureau">CFPB</a><br><br>
<a href="http://hls.harvard.edu/faculty/directory/10935/Warren" title="Harvard University">Harvard Faculty site</a><br><br>
<a href="http://elizabethwarrenwiki.org/" title="Wikipedia">Wiki</a><br><br>
<a href="http://www.nytimes.com/topic/person/elizabeth-warren" title="News : New York Times">New York Times</a><br>

</p>
<br><br>
<h2>VIDEOS</h2>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/KpHnu4YOhxE?rel=0" frameborder="0" title="Victims of Steve Mnuchin's OneWest Bank Share Their Stories with Elizabeth Warren" allowfullscreen></iframe>


</article>
<br><br>