  <!-- base pattern

<details>
  <summary>
  ITEM
  </summary>
  <p>CONTENT</p>
</details>

 -->


 <style type="text/css">

/*HTML5 food menu styles */
article {
background-color: white;
width: 80%;
margin-left: 10%;
box-shadow: 0 20px 10px -10px rgba(150, 150, 150, 0.8);
}
img {
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
h2 {
font-size: 1.33em;
margin: -1em 8% 0 8%;
padding-top: 22px;
cursor: default;
}
sup {
line-height: 0;
}
p {
line-height: 1.2;
background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px);
background-image: -moz-linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px);
background-image: linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px);
background-size: 100% 1.2em;
background-position: 0 1em;
background-origin: content-box;
font-size: 115%;
padding: 1em auto;
margin: 0 auto;
width: 78%;
cursor: default;
}
h4 {
font-size: 1.3em;
font-style: italic;
font-weight: 100;
text-align: right;
margin-right: 1.5em;
cursor: default;
}
summary::-webkit-details-marker {
color: #00ACF3;
font-size: 125%;
margin-right: 2px;
}
summary:focus {
outline-style: none;
}
article > details > summary {
font-size: 22px;
margin-top: 16px;
}
details > p {
margin-left: 24px;
}
details details {
margin-left: 36px;
}
details details summary {
font-size: 19px;
}
p {margin-bottom: 0.9em;}

h1, h2, h3, h4 {
margin: 1.414em 0 0.5em;
font-weight: inherit;
line-height: 1.2;
}

h1 {
margin-top: 0;
font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}
 </style>
<article>
  <details>
    <summary>
      SENATE LEADERS
    </summary>
    <details>
      <summary>
        Patrick Leahy – (D – VT)
      </summary>
      <p>Dean of the Senate<br>
      <a href="http://leahy.senate.gov">leahy.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Charles E. Schumer – (D – NY)
      </summary>
      <p>Democratic Leader<br>
      <a href="http://schumer.senate.gov">schumer.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Dick Durbin – (D – IL)
      </summary>
      <p>Assistant Democratic Leader<br>
      <a href="http://durbin.senate.gov">durbin.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Patty Murray – (D – WA)
      </summary>
      <p>Assistant Democratic Leader<br>
      <a href="http://murray.senate.gov">murray.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Debbie Stabenow – (D – MI)
      </summary>
      <p>Chairwoman of Policy and Communications Committee<br>
      <a href="http://stabenow.senate.gov">stabenow.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Elizabeth Warren – (D – MA)
      </summary>
      <p>Vice Chair of Conference<br>
      <a href="http://warren.senate.gov">warren.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Mark Warner – (D – VA)
      </summary>
      <p>Vice Chair of Conference<br>
      <a href="http://warner.senate.gov">warner.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Amy Klobuchar – (D – MN)
      </summary>
      <p>Chair of Steering Committee<br>
      <a href="http://klobuchar.senate.gov">klobuchar.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Bernard Sanders – (I – VT)
      </summary>
      <p>Chairman of Outreach<br>
      <a href="http://sanders.senate.gov">sanders.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Joe Manchin – (D – WV)
      </summary>
      <p>Vice Chairman of Policy and Communications Committee<br>
      <a href="http://manchin.senate.gov">manchin.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Tammy Baldwin – (D – WI)
      </summary>
      <p>Secretary of the Conference<br>
      <a href="http://baldwin.senate.gov">baldwin.senate.gov</a></p>
    </details>
    <details>
      <summary>
        Chris Van Hollen – (D – MD)
      </summary>
      <p>Chairman of Campaign Committee<br>
      <a href="http://vanhollen.senate.gov">vanhollen.senate.gov</a></p>
    </details>
  </details>
  <details>
    <summary>
      HOUSE LEADERS
    </summary>
    <details>
      <summary>
        Rep. Nancy Pelosi
      </summary>
      <p>Democratic Leader<br>
      Represents Democrats on the House floor.</p>
    </details>
    <details>
      <summary>
        Rep. Hoyer
      </summary>
      <p>Democratic Whip<br>
      Assists leadership in managing party's legislative program.</p>
    </details>
    <details>
      <summary>
        Rep. Clyburn
      </summary>
      <p>Assistant Democratic Leader<br>
      Liaison to Appropriations Committee.</p>
    </details>
    <details>
      <summary>
        Rep. Crowley
      </summary>
      <p>Democratic Caucus Chairman<br>
      Head of of all Democratic Party members in the House.</p>
    </details>
  </details>
  <details>
    <summary>
      HOUSE LEADERS
    </summary>
    <details>
      <summary>
        Rep. Nancy Pelosi
      </summary>
      <p>Democratic Leader<br>
      Represents Democrats on the House floor.</p>
    </details>
    <details>
      <summary>
        Rep. Hoyer
      </summary>
      <p>Democratic Whip<br>
      Assists leadership in managing party's legislative program.</p>
    </details>
    <details>
      <summary>
        Rep. Clyburn
      </summary>
      <p>Assistant Democratic Leader<br>
      Liaison to Appropriations Committee.</p>
    </details>
    <details>
      <summary>
        Rep. Crowley
      </summary>
      <p>Democratic Caucus Chairman<br>
      Head of of all Democratic Party members in the House.</p>
    </details>
  </details>
  <details>
    <summary>
      US HOUSE &amp; SENATE
    </summary>
    <details>
      <summary>
        US HOUSE
      </summary>
      <p><a href="http://www.dems.gov" title="US House Democrats">dems.gov</a><br>
      <a href="https://www.facebook.com/HouseDemocrats" title="Official House Democrats Facebook">facebook.com/HouseDemocrats</a><br>
      <a href="https://twitter.com/HouseDemocrats" title="Official Twitter House Democrats">twitter.com/HouseDemocrats</a><br>
      <a href="https://www.instagram.com/housedemocrats" title="Official Instagram House Democrats">instagram.com/housedemocrats</a><br>
      <a href="https://www.youtube.com/HouseDems" title="Videos from the Democratic Caucus of the U.S. House of Representatives">youtube.com/HouseDems</a><br>
      <a href="https://www.flickr.com/photos/housedemocrats" title="Flickr House Democrats">flickr.com/photos/housedemocrats</a><br></p>
    </details>
    <details>
      <summary>
        US SENATE
      </summary>
      <p><a href="https://democrats.senate.gov/" title="Senate Democrats | Official news and legislative information from Democrats in the U.S. Senate.">democrats.senate.gov</a><br>
      <a href="https://twitter.com/SenateDems" title="official Twitter Senate Dems">https://twitter.com/SenateDems</a><br>
      <a href="https://democrats.senate.gov/leadership/#.WSOg-hPytE4" title="Leadership | Senate Democratic Party">democrats.senate.gov/leadership/</a><br>
      <a href="https://www.facebook.com/USSenateDemocrats" title="Official Facebook">facebook.com/USSenateDemocrats</a><br>
      <a href="http://www.dscc.org/" title="Senatorial Campaign Committee">dscc.org | Democratic Senatorial Campaign Committee: DSCC</a><br></p>
    </details>
  </details>
</article>