	<style>
		p{
    text-indent: 1em;
    padding-bottom: 1em;
		}
		li {
			margin-top: 10px
		}
	</style>
	<article>
<br>
<br>

    <p>&nbsp;</p><br>
    <p></p>
        <ul>

        <li><a href="https://www.hassan.senate.gov/" target="_blank"
            title="official US Government site"
            >hassan.senate.gov</a></li>
        <li><a href="https://twitter.com/senatorhassan"
            title="official twitter @senatorhassan">twitter.com/senatorhassan</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Maggie_Hassan" target="_blank"
            title="official Wikipedia Entry"
            >wikipedia.org/wiki/Maggie_Hassan</a></li>
        <li><a href="https://goo.gl/vgVZaC"
            title="official youtube channel"
            >Channel: Office of Senator Maggie Hassan <u>YouTube</u></a></li>
        <li><a href="https://www.hassan.senate.gov/content/contact-senator" 
            title="contact | Senate">hassan.senate.gov/content</a></li>
        </ul>

    </p></p>

<br><br>
<h2>VIDEOS</h2>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jxL5NCPPSZE?rel=0" frameborder="0" allowfullscreen title="Sen. Hassan Underscores Threat Budget Cuts Would Pose on Drug Interdiction"></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/1raQYSo1Lzo?rel=0" frameborder="0" allowfullscreen title="Senator Hassan Delivers Floor Speech Highlighting Importance of Net Neutrality"></iframe>


</article>
<br><br>