	NEWS
	<style>
		p{
    text-indent: 1em;
    padding-bottom: 1em;
		}
	</style>
	<article>
<br>
<br>
  


    <article>
    <p>&nbsp;</p><br>
    <p></p>
        <ul>

        <li><a href="https://www.hassan.senate.gov/" target="_blank"
            title="official US Government site"
            >hassan.senate.gov</a></li>
        <li><a href="https://twitter.com/senatorhassan"
            title="official twitter @senatorhassan">twitter.com/senatorhassan</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Maggie_Hassan" target="_blank"
            title="official Wikipedia Entry"
            >wikipedia.org/wiki/Maggie_Hassan</a></li>
        <li><a href="https://goo.gl/vgVZaC"
            title="official youtube channel"
            >Channel: Office of Senator Maggie Hassan <u>YouTube</u></a></li>
        <li><a href="https://www.hassan.senate.gov/content/contact-senator" 
            title="contact | Senate">hassan.senate.gov/content</a></li>
        </ul>

    </p></p>
    </article>
    </section>
    <section>
    <article>

     <p>
        <address>
            WASHINGTON, D.C. OFFICE <br>
            330 Hart Senate Office Building <br>
            Washington, DC 20510 <br>
            Phone: (202) 224-3324 <br>
       </p><br>
        </address>
        <address>
        <p>
            STATE OFFICES <br>
            Manchester <br>
            1589 Elm Street <br>
            Third Floor <br>
            Manchester, NH 03101 <br>
            Phone: (603) 622-2204 <br>
    <p><br>

       </address> 
        <address>
         <p>    
            STATE OFFICES <br>
            Portsmouth <br>
            14 Manchester Square <br>
            Suite #140 <br>
            Portsmouth, NH 03801 <br>
            Phone: (603) 433-4445 <br>
</p><br>
 
    </article>


</section>


<section>
<article>
    <h2>
    US DEMOCRATIC PARTY:</h2>
    <p>
        <a href="https://www.democrats.org" title="Democrat National Committee">democrats.org | Democrat National Committee </a> <br>
        <a href="http://asdc.democrats.org/state-parties" title="Association of State Democratic Chairs">democrats.org/state-parties</a><br>
        <a href="https://www.democrats.org/people/union-members-and-families" title="UNION MEMBERS AND FAMILIES">Demograts.org UNION MEMBERS AND FAMILIES</a><br>
        <a href="http://www.scholarsstrategynetwork.org/brief/alliance-us-labor-unions-and-democratic-party" title="Daniel Schlozman, Johns Hopkins University">THE ALLIANCE OF U.S. LABOR UNIONS AND THE DEMOCRATIC PARTY</a><br>
        <a href="https://uniondemocracy.org/" title="Association for Union Democracy">UnionDemocracy.org | Association for Union Democracy</a><br>
        <a href="http://www.dsausa.org" title="Democratic Socialists of America">dsausa.org | Democratic Socialists of America</a><br> 
        <a href="https://ourrevolution.com/" title="The next step for Bernie Sanders' movement">ourrevolution.com/</a>
    </p>
</article>
<article>
    <h2>US HOUSE:</h2>
    <p><a href="http://www.dems.gov"
        title="US House Democrats">dems.gov</a></p>
    <p>
    <a href="https://www.facebook.com/HouseDemocrats"
        title="Official House Democrats Facebook">facebook.com/HouseDemocrats</a><br>
    <a href="https://twitter.com/HouseDemocrats" 
        title="Official Twitter House Democrats">twitter.com/HouseDemocrats</a><br>
    <a href="https://www.instagram.com/housedemocrats"
        title="Official Instagram House Democrats">instagram.com/housedemocrats</a><br>
    <a href="https://www.youtube.com/HouseDems"
        title="Videos from the Democratic Caucus of the U.S. House of Representatives">youtube.com/HouseDems</a><br>
    <a href="https://www.flickr.com/photos/housedemocrats"
        title="Flickr House Democrats">flickr.com/photos/housedemocrats</a><br>
    </p>
</article>
<article>
    <h2>US SENATE</h2>
    <p><a href="https://democrats.senate.gov/" 
        title="Senate Democrats | Official news and legislative information from Democrats in the U.S. Senate.">democrats.senate.gov</a></p>
    <p>
        <a href="https://twitter.com/SenateDems" 
            title="official Twitter Senate Dems">https://twitter.com/SenateDems</a><br>
        <a href="https://democrats.senate.gov/leadership/#.WSOg-hPytE4" 
            title="Leadership | Senate Democratic Party">democrats.senate.gov/leadership/</a><br>
        <a href="https://www.facebook.com/USSenateDemocrats" 
            title="Official Facebook">facebook.com/USSenateDemocrats</a><br>
        <a href="http://www.dscc.org/" 
            title="Senatorial Campaign Committee">dscc.org | Democratic Senatorial Campaign Committee: DSCC</a><br>
    </p>
</article>


</article>
<br><br>